@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #295991;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

body{
    background-color: aliceblue;
}


a{
    color: aliceblue;
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
}


a:hover{
    color: aqua;
}


.main_home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
    border: 1px solid black;
}


section{
    display: flex;
    align-items: center;
    gap: 20px;
}

.foto_descricao{
    height: 15vh;
    width: 15vw;
    border-radius: 10px;
}

.container-primario{
    width: 40vw;
    height: 40vh;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    background-color: rgba(225, 205, 132, 0.973);
}


.container-primario-p{
    text-align: justify;
    font-size: 17px;    
}


.container-secundario{
    width: 18vw;
    height: 40vh;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-cor-fundo{
    background-color: rgba(225, 205, 132, 0.973);
    width: 16vw;
    height: 90vh;
    text-align: center;
    border-radius: 30px;
}


img{
    width: 10vw;
    height: 15vh;
}

.header_projetos{
    background-color: solid black;
}

.projetos_subtitulo{
    text-align: left;
}

h1{
    text-align: center;
}

.projetos_sites{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    gap: 10px;
}

footer{
    background-color: #295991;
    display: flex;
    gap: 90px;
    height: 10vh;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}